.onShow {
	padding-left: 20px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../../../images/tooltip/onShow.png);
	background-repeat: no-repeat;
	background-position: 1px;
}

.onFocus {
	padding-left: 20px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E9F0FF;
	background-image: url(../../../images/tooltip/onFocus.png);
	background-repeat: no-repeat;
	background-position: 1px;
}

.onError {
	padding-left: 20px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF2E9;
	background-image: url(../../../images/tooltip/onError.png);
	background-repeat: no-repeat;
	background-position: 1px;
}

.onCorrect {
	padding-left: 20px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E9FFEB;
	background-image: url(../../../images/tooltip/onCorrect.png);
	background-repeat: no-repeat;
	background-position: 1px;
}

.onLoad {
	padding-left: 20px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E9FFEB;
	background-image: url(../../../images/tooltip/onLoad.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
}