<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="server_info">
	<typeAlias alias="serverInfo"
		type="com.ft.otp.manager.authmgr.server.entity.ServerInfo" />
	<parameterMap class="serverInfo" id="parameterMap_sr">
		<parameter property="hostipaddr" javaType="string"
			jdbcType="VARCHAR" />
		<parameter property="confid" javaType="int" jdbcType="INTEGER" />
		<parameter property="priority" javaType="int"
			jdbcType="INTEGER" />
		<parameter property="descp" javaType="string"
			jdbcType="VARCHAR" />
		<parameter property="licid" javaType="string"
			jdbcType="VARCHAR" />
		<parameter property="servConfValue" javaType="string"
			jdbcType="VARCHAR" />
	</parameterMap>

	<sql id="queryFilter">
		<dynamic prepend="">
			<isNotNull property="hostipaddr" prepend="and">
				<isNotEmpty property="hostipaddr">
					hostipaddr = #hostipaddr#
				</isNotEmpty>
			</isNotNull>
			<isNotNull property="hostname" prepend="and">
				<isNotEmpty property="hostname">
					hostname = #hostname#
				</isNotEmpty>
			</isNotNull>
		</dynamic>
	</sql>

	<insert id="insertSR" parameterClass="serverInfo">
		<![CDATA[
    		INSERT INTO otppms_hostinfo
    		(hostname,hostipaddr,confid,priority,licid,protocoltype,
    		authport,syncport,ftradiusenabled,radiusenabled,radauthport,httpenabled,httpport,httpsenabled,httpsport,keystorepwd,
    		certificatepwd,keystoreinstance,keystorerootpath,soapenabled,soapport,webservicename,descp)
    		VALUES
    		(#hostname#,#hostipaddr#,#confid#,#priority#,#licid#,#protocoltype#,
    		#authport#,#syncport#,#ftradiusenabled#,#radiusenabled#,#radauthport#,#httpenabled#,#httpport#,#httpsenabled#,#httpsport#,#keystorepwd#,
    		#certificatepwd#,#keystoreinstance#,#keystorerootpath#,#soapenabled#,#soapport#,#webservicename#,#descp#)
    	]]>

	</insert>

	<select id="findSR" parameterClass="serverInfo"
		resultClass="serverInfo">
		<![CDATA[
			SELECT
	    		hostname,hostipaddr,confid,priority,licid,protocoltype,
	    		authport,syncport,ftradiusenabled,radiusenabled,radauthport,httpenabled,httpport,httpsenabled,httpsport,keystorepwd,
	    		certificatepwd,keystoreinstance,keystorerootpath,soapenabled,soapport,webservicename,descp
       		FROM otppms_hostinfo 
       		WHERE 1=1
         ]]>
		<include refid="queryFilter" />
	</select>

	<update id="updateSR" parameterClass="serverInfo">
		<![CDATA[
		   update otppms_hostinfo set
				hostname=#hostname#,hostipaddr=#hostipaddr#,confid=#confid#,priority=#priority#,licid=#licid#,protocoltype=#protocoltype#,
    			authport=#authport#,syncport=#syncport#,ftradiusenabled=#ftradiusenabled#,radiusenabled=#radiusenabled#,radauthport=#radauthport#,httpenabled=#httpenabled#,httpport=#httpport#,httpsenabled=#httpsenabled#,httpsport=#httpsport#,keystorepwd=#keystorepwd#,
    			certificatepwd=#certificatepwd#,keystoreinstance=#keystoreinstance#,keystorerootpath=#keystorerootpath#,soapenabled=#soapenabled#,soapport=#soapport#,webservicename=#webservicename#,descp=#descp#
                WHERE hostipaddr=#hostipaddr# 
         ]]>
	</update>

	<update id="updateHostIp" parameterClass="serverInfo">
		<![CDATA[
		   update otppms_hostinfo set hostipaddr=#newHostipaddr#
    		WHERE hostipaddr=#hostipaddr# 
         ]]>
	</update>

	<select id="countSR" resultClass="int"
		parameterMap="parameterMap_sr">
		<![CDATA[
            select count(hostipaddr) from otppms_hostinfo where 1=1
          ]]>
		<dynamic prepend="">
			<isNotNull property="hostipaddr" prepend="and">
				<isNotEmpty property="hostipaddr">
					hostipaddr like '%$hostipaddr$%'
				</isNotEmpty>
			</isNotNull>
		</dynamic>
	</select>

	<delete id="deleteSR" parameterMap="parameterMap_sr">
		<![CDATA[
    		DELETE FROM	otppms_hostinfo WHERE 1=1 
    	]]>
		<dynamic prepend="">
			<isNotNull property="batchIds" prepend="and">
				hostipaddr IN
				<iterate property="batchIds" open="(" close=")"
					conjunction=",">
					#batchIds[]#
				</iterate>
			</isNotNull>
		</dynamic>
	</delete>
	
	<update id="updateNewLicId" parameterClass="serverInfo">
		<![CDATA[
		   update otppms_hostinfo set licid=#licid#
         ]]>
	</update>
	
	<sql id="queryServerCondition">
		<dynamic>
			<isNotNull property="hostipaddr" prepend="and">
				<isNotEmpty property="hostipaddr">
					hostipaddr like '%$hostipaddr$%'
				</isNotEmpty>
			</isNotNull>
			<isNotNull property="hostname" prepend="and">
				<isNotEmpty property="hostname">
					hostname like '%$hostname$%'
				</isNotEmpty>
			</isNotNull>
		</dynamic>
	</sql>

</sqlMap>
