<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="server_info">
	  <select id="selectSR" parameterMap="parameterMap_sr"
		resultClass="serverInfo">
		<![CDATA[
			SELECT
	    		hostname,hostipaddr,confid,priority,licid,protocoltype,
	    		authport,syncport,ftradiusenabled,radiusenabled,radauthport,httpenabled,httpport,httpsenabled,httpsport,keystorepwd,
	    		certificatepwd,keystoreinstance,keystorerootpath,soapenabled,soapport,webservicename,descp
       		FROM 
         ]]>
         <dynamic prepend="">
         	<isNotNull property="pageSize" prepend="">
				<isNotEmpty property="pageSize">
					(select top $pageSize$ * from otppms_hostinfo where 1=1
				</isNotEmpty>
			</isNotNull>
			<include refid="queryServerCondition" />
			<isNotNull property="startRow" prepend="">
				<isNotEmpty property="startRow">
				 	and hostipaddr not in (select top $startRow$ hostipaddr from otppms_hostinfo where 1=1
				</isNotEmpty>
			</isNotNull>
			<include refid="queryServerCondition" />
         </dynamic>
		<![CDATA[
			order by hostipaddr asc ) order by hostipaddr asc ) otppms_hostinfo order by hostipaddr asc
        ]]>
	</select>
 
</sqlMap>
