body {
	background-color: #FFFFFF;
	margin-top: 50px;
}

.iframecss {
	background-color: #FFFFFF;
	height: 360px;
	width: 100%;
}

.textCss {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #002559;
}

.leftTitleBg {
	background-image: url(../images/tabs.png);
	background-repeat: no-repeat;
	text-align: left;
	text-indent: 13px;
	display: block;
	font-size: 12px;
	line-height: 29px;
	font-weight: bold;
	height: 30px;
	width: 153px;
	margin-top: 6px;
}

.leftTitle {
	background-repeat: no-repeat;
	text-align: left;
	text-indent: 13px;
	display: block;
	font-size: 12px;
	line-height: 29px;
	font-weight: bold;
	height: 30px;
	width: 153px;
	margin-top: 6px;
}

.leftBg {
	background-image: url(../images/left.png);
	background-repeat: no-repeat;
	background-position: 10px bottom;
	display: block;
}

.leftTdBg {
	background-image: url(../images/init_r10_c5.png);
	background-repeat: repeat-y;
	background-position: right;
	height: 100%;
}

.bottomText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	color: 005495;
}

.islink {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.islink:link {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.islink:hover {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #FF6600;
	text-decoration: underline;
}

.OKMsg {
	border: 1px solid #00BE00;
	color: #000;
	height: 18px;
	background-color: #E6FFE6;
	background-image: url(../images/drop/ok.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 22px;
}

.WarningMsg {
	border: 1px solid #00A8FF;
	color: #000;
	height: 18px;
	background-color: #E2F5FF;
	background-image: url(../images/drop/warning.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 22px;
}

.ErrorMsg {
	border: 1px solid #F60;
	color: #000;
	height: 18px;
	background-color: #FFF2E9;
	background-image: url(../images/drop/error.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 22px;
}